# Environment variables
.env


# Go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
dist/

# Test binary
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work
go.work.sum

# Dependency directories
vendor/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*~

# OS specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Database files
*.db
*.sqlite
*.sqlite3

# Temporary files
tmp/
temp/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
./terraform/terraform.tfvars
./terraform/.terraform.lock.hcl
./terraform/.terraform
terraform/terraform.tfvars
